require "active_support/core_ext/string"
require_relative "config/application"
require "emque/consuming/tasks"

__DIR__ = File.dirname(__FILE__)
Dir.glob("#{__DIR__}/tasks/*.rake").each do |rake_file|
  import rake_file
end
